/* Crafted by Pixel Dreams - pixeldreams.com */


/* -------------------------------------------
   SHARED STYLES
------------------------------------------- */
/* Colours */
.white {color:#fff;}
.grey {color:#666;}
.black {color:#000;}
.blue-light {color:#1ebfd2;}
.blue {color:#3077bd;}
.purple {color:#5d2e87;}

.bg-white {background-color:#fff;}
.bg-silver, body {background-color:#e5e5e5;}
.bg-black {background-color:#000;}
.bg-blue {background-color:#3077bd;}
.bg-gradient {background:transparent url('../img/bg-gradient.png') repeat-y;background-size:contain;}

.faded {-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";filter: alpha(opacity=50);-moz-opacity: 0.5;-khtml-opacity:0.5;opacity: 0.5;}

/* Typography */
body {font-size:100%;padding-top:60px;}

@media only screen and (max-width:768px) { body {font-size:0.75rem !important;} }
@media only screen and (max-width:1024px) { body {font-size:0.8rem !important;} } 
@media only screen and (max-width:1280px) { body {font-size:0.9rem !important;} } 
@media only screen and (min-width:1300px) { body {font-size:1rem !important;} }

@font-face {
    font-family: 'prime';
    src: url('../fonts/prime_regular-webfont.eot');
    src: url('../fonts/prime_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/prime_regular-webfont.woff') format('woff'),
         url('../fonts/prime_regular-webfont.ttf') format('truetype'),
         url('../fonts/prime_regular-webfont.svg#primeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1,h2 {font-family:'prime',sans-serif;font-weight:100;margin-bottom:0;}
h1.large {font-size:2em;letter-spacing:2px;}
h1 {font-size:1.5em;letter-spacing:2px;}
h2 {font-size:1.2em;letter-spacing:1px;}
h3,h4 {font-family: Garamond, "Apple Garamond", "ITC Garamond Narrow", "Palatino Linotype", Palatino,  "Book Antiqua", Baskerville, "Bookman Old Style", Georgia, serif;font-weight:normal;-webkit-font-smoothing: antialiased;}

/* General */
.hidden {display:none;}
.relative {position:relative;height:0;}
.absolute {position:absolute;}
.block {display:block;width:100%;}
.flex-video {border:3px solid #fff;background:transparent url('../img/loader.gif') center no-repeat;}
.icons {margin:0 auto -20%;width:70%;}
hr {border:0;border-top:1px solid #333;}
hr.light {border-color:#e5e5e5;}

/* Lists */
ul.service {font-weight:400;list-style:none;margin-top:20px;}
ul.service li {margin-bottom:5px;}
ul.service li h2 {display:inline-block;background-color:#fff;padding:3px 15px 0;line-height:2em;margin:0 !important;}
ul.service li .before {display:inline-block;width:30px;line-height:2em;padding:3px 15px 0;background:transparent url('../img/bg-services.png') center left no-repeat;}
ul.service li .after {display:inline-block;width:30px;line-height:2em;padding:3px 15px 0;background:transparent url('../img/bg-services.png') center right no-repeat;}

ul.inline-list{text-align:center;margin-top:-2px;}
ul.inline-list li {display:inline-block;margin-right:30px;padding:2px 10px;-webkit-border-radius:3px;border-radius:3px;}
ul.inline-list li:last-child {margin-right:0;}
ul.inline-list li.active {background-color:#fff;}

[data-magellan-expedition="fixed"] {background-color:#000;height:50px;border-bottom:5px solid #fff;}

/* Forms */
form {margin-top:15px;}
label {color:#fff;font-weight:normal;margin-bottom:5px;}
input[type="text"],input[type="email"],textarea {background-color:transparent;border-color:#fff;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";filter:alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity:0.5;opacity:0.5;color:#fff;}
input[type="text"]:focus,input[type="email"]:focus, textarea:focus {background-color:transparent;border-color:#fff;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter:alpha(opacity=100);-moz-opacity:1;-khtml-opacity:1;opacity:1;color:#fff;}
textarea {height:80px;}

/* Labels */
.label {
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  line-height: 1;
  white-space: nowrap;
  display: inline;
  position: relative;
  padding: 0.1875em 0.625em 0.25em;
  font-size: 0.875em;
  background-color: #2ba6cb;
  color: #fff; }
  .label.radius {
    -webkit-border-radius: 3px;
    border-radius: 3px; }
  .label.round {
    -webkit-border-radius: 1000px;
    border-radius: 1000px; }
  .label.alert {
    background-color: #c60f13;
    color: #fff; }
  .label.success {
    background-color: #5da423;
    color: #fff; }
  .label.secondary {
    background-color: #e9e9e9;
    color: #333; }
		
/* Positioning */
#row-1 {margin-top:30px;}
#row-2,
#row-3,
#row-4,
#row-5 {margin-top:-90px;}

#intro {top:-5px;}
#bio-adam, #bio-aaron {margin:0 auto -75px;}
#list {margin:-45px auto -65px;}
#contact {margin:-45px auto -85px;}

/* Footer */
.footer-top {width:100%;height:60px;background:transparent url('../img/bg-footer.png') center bottom no-repeat;margin-top:60px;font-size:0.8em;}
.footer {width:100%;background:#000;padding:15px 15px 20px;}
.footer img {margin-left:-40px;}
.footer-bottom {width:100%;background:#fff;padding:20px;font-size:0.6em;color:#ccc;}
.footer-bottom a {display:inline-block;margin-top:5px;}

/* -------------------------------------------
   HEXAGONS
------------------------------------------- */
.boxA, .boxB, .boxC, .boxD, .boxE {margin:0 auto;}
.center {padding:3% 15%;}

/* White border + gradient background */
.boxA .top {background:#e5e5e5 url('../img/bg-boxA-top.png') center bottom no-repeat;background-size:cover;max-height:199px;}
.boxA .center {background:transparent url('../img/bg-boxA-center.png') center repeat-y;background-size:contain;}
.boxA .bottom {background:#e5e5e5 url('../img/bg-boxA-bottom.png') center top no-repeat;background-size:cover;max-height:199px;}

/* Gradient border + white background */
.boxB .top {background:transparent url('../img/bg-boxB-top.png') center top no-repeat;background-size:cover;max-height:199px;}
.boxB .center {background:transparent url('../img/bg-boxB-center.png') center repeat-y;background-size:contain;}
.boxB .bottom {background:#e5e5e5 url('../img/bg-boxB-bottom.png') center bottom no-repeat;background-size:cover;max-height:199px;}

/* White border + blue background */
.boxC .top {background:transparent url('../img/bg-boxC-top.png') center bottom no-repeat;background-size:cover;max-height:213px;}
.boxC .center {background:transparent url('../img/bg-boxC-center.png') center repeat-y;background-size:contain;}
.boxC .bottom {background:#e5e5e5 url('../img/bg-boxC-bottom.png') center top no-repeat;background-size:cover;max-height:213px;}

/* White border + black background */
.boxD .top {background:transparent url('../img/bg-boxD-top.png') center bottom no-repeat;background-size:cover;max-height:199px;}
.boxD .center {background:transparent url('../img/bg-boxD-center.png') center repeat-y;background-size:contain;}
.boxD .bottom {background:#e5e5e5 url('../img/bg-boxD-bottom.png') center top no-repeat;background-size:cover;-height:199px;}

/* White border + gradient background (2) */
.boxE .top {background:transparent url('../img/bg-boxE-top.png') center bottom no-repeat;background-size:cover;max-height:213px;}
.boxE .center {background:transparent url('../img/bg-boxE-center.png') center repeat-y;background-size:contain;}
.boxE .bottom {background:#e5e5e5 url('../img/bg-boxE-bottom.png') center top no-repeat;background-size:cover;max-height:213px;}

/* Diamond shaped photos */
.photo {
	display:block;
	width:120%;
	max-width:670px;
	margin:-30% auto 15px;
	position:relative;
	left:-10%;
}

#adam{background:transparent url('../img/Our-Work-1.png') center no-repeat;background-size:contain;}
#adam:hover {background:transparent url('../img/Our-Work-2.png') center no-repeat;background-size:contain;}

#aaron {background:transparent url('../img/Our-Team-1.png') center no-repeat;background-size:contain;}
#aaron:hover {background:transparent url('../img/Our-Team-2.png') center no-repeat;background-size:contain;}


/* -------------------------------------------
   SOCIAL ICONS
------------------------------------------- */
@font-face {
  font-family: "SSSocialCircle";
  src: url('../fonts/ss-social-circle.eot');
  src: url('../fonts/ss-social-circle.eot?#iefix') format('embedded-opentype'),
       url('../fonts/ss-social-circle.woff') format('woff'),
       url('../fonts/ss-social-circle.ttf')  format('truetype'),
       url('../fonts/ss-social-circle.svg#SSSocialCircle') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* This triggers a redraw in IE to Fix IE8's :before content rendering. */
html:hover [class^="ss-"]{-ms-zoom: 1;}

.ss-icon, .ss-icon.ss-social-circle,
[class^="ss-"]:before, [class*=" ss-"]:before,
[class^="ss-"].ss-social-circle:before, [class*=" ss-"].ss-social-circle:before,
[class^="ss-"].right:after, [class*=" ss-"].right:after,
[class^="ss-"].ss-social-circle.right:after, [class*=" ss-"].ss-social-circle.right:after {
  font-family: "SSSocialCircle";
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  white-space: nowrap;
  /*-webkit-font-feature-settings: "liga"; Currently broken in Chrome >= v22. Falls back to text-rendering. Safari is unaffected. */
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

.ss-icon {font-size:2em;margin-top:15px;display:block;}
.ss-icon a {color:#3077bd;position:relative;}
.ss-icon.white a {color:#fff;}
.ss-icon a:hover, .ss-icon.white a:hover {color:#000;}


[class^="ss-"].right:before,
[class*=" ss-"].right:before{display:none;content:'';}

.ss-facebook:before,.ss-facebook.right:after{content:''}.ss-twitter:before,.ss-twitter.right:after{content:''}.ss-linkedin:before,.ss-linkedin.right:after{content:''}.ss-googleplus:before,.ss-googleplus.right:after{content:''}.ss-appdotnet:before,.ss-appdotnet.right:after{content:''}.ss-zerply:before,.ss-zerply.right:after{content:''}.ss-reddit:before,.ss-reddit.right:after{content:''}.ss-steam:before,.ss-steam.right:after{content:''}.ss-tumblr:before,.ss-tumblr.right:after{content:''}.ss-wordpress:before,.ss-wordpress.right:after{content:''}.ss-blogger:before,.ss-blogger.right:after{content:''}.ss-posterous:before,.ss-posterous.right:after{content:''}.ss-quora:before,.ss-quora.right:after{content:''}.ss-youtube:before,.ss-youtube.right:after{content:''}.ss-vimeo:before,.ss-vimeo.right:after{content:''}.ss-vine:before,.ss-vine.right:after{content:''}.ss-letterboxd:before,.ss-letterboxd.right:after{content:''}.ss-flickr:before,.ss-flickr.right:after{content:''}.ss-instagram:before,.ss-instagram.right:after{content:''}.ss-500px:before,.ss-500px.right:after{content:''}.ss-etsy:before,.ss-etsy.right:after{content:''}.ss-pinterest:before,.ss-pinterest.right:after{content:''}.ss-svpply:before,.ss-svpply.right:after{content:''}.ss-readmill:before,.ss-readmill.right:after{content:''}.ss-dropbox:before,.ss-dropbox.right:after{content:''}.ss-pinboard:before,.ss-pinboard.right:after{content:''}.ss-delicious:before,.ss-delicious.right:after{content:''}.ss-dribbble:before,.ss-dribbble.right:after{content:''}.ss-behance:before,.ss-behance.right:after{content:''}.ss-github:before,.ss-github.right:after{content:''}.ss-octocat:before,.ss-octocat.right:after{content:''}.ss-stackoverflow:before,.ss-stackoverflow.right:after{content:''}.ss-paypal:before,.ss-paypal.right:after{content:''}.ss-kickstarter:before,.ss-kickstarter.right:after{content:''}.ss-foursquare:before,.ss-foursquare.right:after{content:''}.ss-yelp:before,.ss-yelp.right:after{content:''}.ss-skype:before,.ss-skype.right:after{content:''}.ss-rdio:before,.ss-rdio.right:after{content:''}.ss-spotify:before,.ss-spotify.right:after{content:''}.ss-lastfm:before,.ss-lastfm.right:after{content:''}.ss-soundcloud:before,.ss-soundcloud.right:after{content:''}.ss-link:before,.ss-link.right:after{content:'🔗'}.ss-phone:before,.ss-phone.right:after{content:'📞'}.ss-mail:before,.ss-mail.right:after{content:'✉'}.ss-like:before,.ss-like.right:after{content:'👍'}.ss-rss:before,.ss-rss.right:after{content:''}.ss-share:before,.ss-share.right:after{content:''}.ss-apple:before,.ss-apple.right:after{content:''}.ss-microsoft:before,.ss-microsoft.right:after{content:''}.ss-windows:before,.ss-windows.right:after{content:''}.ss-android:before,.ss-android.right:after{content:''}.ss-blackberry:before,.ss-blackberry.right:after{content:''}

/* Legacy */
.ss-fivehundredpx:before,.ss-fivehundredpx.right:after{content:''}

/* -------------------------------------------
   SCREEN-SPECIFIC ADJUSTMENTS
------------------------------------------- */
@media only screen and (min-width:1400px) {

}


/* -------------------------------------------
   MOBILE SCREEN ADJUSTMENTS
------------------------------------------- */
@media only screen and (max-width:1080px) {
}

@media only screen and (max-width:767px) {
	body {padding:10px 0;}
	h1 {font-size:1em;letter-spacing:1px;margin-top:0;}
	h2 {font-size:0.9em;letter-spacing:0;margin-top:0;}
	boxA .center, .boxB .center, .boxC .center, .boxD .center, .boxE .center {padding:1% 12% !important;}
	.icons {margin:-25px auto -20%;width:55%;}
	#row-1 {margin-top:10px;}
	#row-2, #row-3, #row-4, #row-5, .end{margin-top:-45px;}
	#intro {top:-10px;}
	#list {margin:-25px auto -35px;}
	#contact {margin:-25px auto -35px;}
	.ss-icon {margin:-5px auto 45px;}
	.ss-icon.white {margin:0 auto 25px;}
	ul.inline-list li {margin-right:10px;}
	ul.inline-list li:last-child {margin-right:0;}
	.footer img {margin-left:0;}
}