#recaptcha_area{	margin:auto;}.recaptchatable {line-height: 1px;}
 
 
 
#recaptcha_area .recaptchatable .recaptcha_image_cell {background-color: white!important;}#recaptcha_area .recaptchatable td {vertical-align: top!important;background-color: #d7d7d7;}.recaptchatable .recaptcha_r1_c1, .recaptchatable .recaptcha_r3_c1, .recaptchatable .recaptcha_r3_c3{background-color: transparent!important;}
 
 
.recaptcha_theme_white #recaptcha_response_field {	color:initial;}#recaptcha_area input {display:inline;height:initial;}
