input[type="submit"], input[type="button"]
{
    width:70px;
}

#projectsList
{
    position:relative;
    float:left;
    padding:10px;
}

.project
{
    position:relative;
    border:solid 1px;
    width:100%;
    margin: 5px 0px;
}
.project div {
    display: inline-block;
    margin: 5px 0px;
    vertical-align: top;
}
.project input{
    margin:0;
}



.poster img
{
    width: 100px;
    vertical-align: top;
}

.tags {
    min-height: 100px;
    width: 137px;
    padding: 0 8px;
}

form#addTag {
    margin: 5px;
}

form#removeTags {
    margin: 5px;
}